*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #212121;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav{
  margin:0px auto;
}
.custom-nav-link{
  margin :0px 8px;
  color :#fff;
}
.custom-nav-link:hover{
  color: #f8b90a !important;
}

.navbar .navbar-nav .nav-link.custom-nav-link {
  position: relative;
  color: #f8b90a;
  transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link.custom-nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #f8b90a;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.navbar .navbar-nav .nav-link.custom-nav-link:hover::after {
  width: 100%;
  left: 0;
  background: #f8b90a;
}

.carousel-hire-btn {
  left: 5%;
  background-color:#f8b90a; 
  color: #000;
}
.carousel-work-btn{
  left: 15%;
  color: #fff;
  border: 1px solid gray;
}
.carousel-hire-btn,.carousel-work-btn{
  position: absolute;
  bottom: 90px; 
  transform: translateX(-50%);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 40px;
  z-index: 10;
  font-size: 12px; 
}

.about-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
}

.about-table th, .about-table td {
  padding: 10px 0px;
}
.about-table td{
  color:silver;
}
.download-cv-btn{
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 40px;
  font-size: 12px;
  background-color:#f8b90a; 
  color: #000;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .row>*{
    width: 100% !important;
  }
  .carousel-hire-btn,.carousel-work-btn{
    bottom: 5px; 
    padding: 5px 10px;
    font-size: 10px; 
  }
  .carousel-hire-btn {
    left: 10%;
  }
  .carousel-work-btn{
    left: 35%;
  }
  .about-profile{
    display:none;
  }
  .about-table {
    font-size: 15px;
  }
  .download-cv-btn{
    padding: 10px 20px;
  }
  .image-container-odd{
    display :none;
  }
  .service-box {
    margin-bottom:20px;
  }
}
.heading{
  text-align: center;
  color:#fff;
  margin:20px 0px;
}
.resume-card>.card-body{
  color:#fff;
  background:#282c34;
  padding:15px 30px;
  border-radius: 10px;
  p,h3,h4{
    background-color: #282c34;
    margin:18px 0px;
  };
  h3{
    color:#f8b90a;
  };
  P{
    color:silver
  }
}
.service-box {
  padding: 30px;
  background: #282c34;
  text-align: center;
  color: #fff;
  width: 31%!important;
}
.service-box:hover{
  background:#f8b90a;
  color:#000;
}
.service-box:hover .custom-icon {
  color: #000; 
  background-color: #f8b90a;
}
.custom-icon{
  color:#f8b90a;
  font-size: 70px;
  margin-bottom:30px;
  text-align: center;
  background-color: #282c34;
}
.progress{
  border-radius: 2px!important;
  height: 10px !important;;
}
.progress-bar{
  background-color: #f8b90a!important;
  color: #000 !important;
  transition: width 2s ease-in-out;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills,.skills-percentage{
  margin-top: 10px;
  color:#fff;
}

.project-box {
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(248, 185, 10,0.8); 
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition */
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  color: white;
  font-size: 24px;
  text-align: center;
  background: none; 
}

.image-container:hover .overlay {
  opacity: 1;
}
